<%= render partial: "partials/forecast_top", locals: { forecast_daily: @forecast_daily } %>

<hr />

<div class="row">
  <div class="col-md-22">
    <div class="panel panel-default" style="color: #696969">
      <div class="panel-body">

        <div class="page-header" style="margin-top: 0">
          <h4>More Information</h4>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-right">Pressure:</label>
          <div class="">
            <%= @forecast_daily.pressure %>hPa
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-right">Humidity:</label>
          <div class="">
            <%= @forecast_daily.humidity %>%
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-right">Wind Speed:</label>
          <div class="">
            <%= @forecast_daily.speed %>m/s
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-right">Wind Direction:</label>
          <div class="">
            <%= @forecast_daily.degrees %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-right">Clouds:</label>
          <div class="">
            <%= @forecast_daily.clouds %>%
          </div>
        </div>

        <div class="page-header">
          <h4>Temperatures</h4>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-right">Average:</label>
          <div class="">
            <%= @forecast_daily.temperature.average.round %>˚C
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-right">Min:</label>
          <div class="">
            <%= @forecast_daily.min.round %>˚C
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-right">Max:</label>
          <div class="">
            <%= @forecast_daily.max.round %>˚C
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
